asgiref 
attrs
certifi
cffi
charset-normalizer
cryptography
Deprecated
Django
djangorestframework
idna
oauthlib 
packaging
pluggy
py
pycparser
pyparsing
pytest
requests
sqlparse
urllib3
wcwidth
wrapt
